.home {
    padding: 8%;
    padding-top: 2%;
}


.link-title {
    line-height: 0.1em;
}

.section-link {
    text-decoration: none;
    color: white;
}

.section-link:hover {
    color: red;
}

.partName {
    font-size: 30px;
    font-style: italic;
}

.Links {
    padding-left: 5%;
}

.homeTitle {
    font-size: 100px;
    color: red;
    margin-bottom: .5em;
    margin-top: .5em;
}